/* Social mod */
body {
  background-color: #E5E5E5;
  font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
  font-size: 12px;
  color: #000000;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea,  blockquote, th, td, b {
  margin:0;
  padding:0;
}

input {
  font-size:14px;
}

#header {
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  color: #242424;
  background-color: #990000;
}

#header h1 {
  color: #fff;
  padding-top: 5px;
}

#header h1 a, #header h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header #upper_menu {
  color: #fff;
  float: right;
  background-color: #990000;
}

#header #upper_menu a {
  margin-left: 5px;
  color: #fff;
  text-decoration:underline;
}

#header a:hover {
  color: #fff;
  text-decoration: underline;
}

#menu {
  margin-top: 10px;
  list-style: none;
  height: 27px;
}

#menu li {
  text-align: left;
}

#menu li a {
  padding: 6px 8px 6px 8px;
  display: block;
  margin-right: 3px;
  float:left;
  text-decoration: none;
  background-color: #CC0000;
  color: #FFFFFF;
  font-weight:bold;
}

#menu li a:hover {
  text-decoration:none;
  background-color: #670E02;
  color: #FFFFFF;
}

#menu li a.active {
  background-color: #e5ecf9;
  color: #2E2B26;
}

#menu li a.right {
  float: right;
}

#container {
  background-color: #ffffff;
  margin-left: 30px;
  margin-right: 15px;
  padding: 10px;
  width: 75%;
  position: relative;
  float: left;
  min-width: 450px;
  border-style: solid;
  border-color: #e5ecf9;
  border-width: 0px 3px 3px 0px;
}

#container h1 {
  background-color: #e5ecf9;
  color: #000000;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  margin: 0px -10px 15px -10px;
}

#container .left, #container .right {
  width: 49%;
}

#container .left {
  float: left;
}

#container .right {
  float: right;
}

#right {
  float: left;
  margin-top: 25px;
  width: 15%;
}

#right p {
  line-height: 1.4em;
}

#right #search input.textInput{
	width: 135px;
	float: left;
	margin-right: 5px;
}

#is-syncing, #is-connected, #is-disconnected {
  border:1px solid #FFFFFF;
  cursor:pointer;
  margin:0 1px;
  vertical-align:text-bottom;
}

.hidden {
  display:none;
}

#footer p {
	background:transparent url(/images/ico/grenade.png) no-repeat scroll left top;
	clear:both;
	color:#666666;
	height:8em;
	padding:1em 0 1em 70px;
	text-align:left;
}

/* flash message*/
#flash_message.growlUI{
  background-color:#000000;
  border-top:1px solid #000000;
  font-weight: bold;
  font-size: 14px;
  height: 60px;
  padding-top:20px;
}

div.growlUI span{
	padding-bottom:20px;
	padding-left:80px;
	padding-top:20px;
	margin-left:-13px;
}

div.growlUI span.notice {
  background:transparent url(/images/accept_notice.png) no-repeat scroll 10px 10px;
}

div.growlUI span.warning {
  background:transparent url(/images/false_warning.png) no-repeat scroll 10px 10px;
}


img {
	border:0px;
}

#upper_menu label{
	color:#55c72e;
}

#add_new_person {
	display:none;
}

.submit input, input.submit {
	color:#000000;
	width:auto;
}

a.admin:link, a.admin:visited {
	color:#FF0000;
	font-family:verdana;
	font-size:11px;
	font-weight:normal;
}

a.admin:hover {
	background:#FF0000 none repeat scroll 0 0;
	color:#FFFFFF;
}
/*========================*/
/* add new person form */
div#add_new_person .innercol {
	padding-left:90px;
	padding-top:5px;
	width:70%;
}

div#add_new_person table.first_and_last_name input {
	font-weight:bold;
	margin-right:10px;
}

div#add_new_person p {
	font-size:13px;
	margin:5px 0;
}

div#add_new_person input.title {
  font-weight:bold;
}

#contact_section {
	display: none;
}

div.contact_forms, div#add_new_person .innercol p.submit {
	border-top:1px dashed #55C72E;
	margin-top:20px;
	padding:5px 0;
}

div.contact_forms h2 {
	font-size:13px;
	font-weight:normal;
	margin-top:10px;
}

table.contact_forms td.add {
	font-size:11px;
	padding-bottom:10px;
	text-align:right;
}

table.contact_forms { 
	width:98%;
}

table.contact_forms td {
	padding:0 5px 0 0;
	width:85%;
}

table.contact_forms td input,  table.contact_forms td textarea {
    width:100%;
}
