<p align="center" class="copyright">
  Copyright &copy; 1999-<%= Time.now.year.to_s %>, all rights reserved.
	<br/>
	<br/>
  RED Digital Cinema, RED ONE, MYSTERIUM, REDCODE, RED EPIC, SCARLET, RED FLASH, RED-RAM, RED-RAID, RED-DRIVE, RED-CAGE, RED-RAIL, RED-CINE, RED Quick, RED Alert! and RED-GUN are trademarks of the RED Digital Cinema Camera Company.
</p>