<% if flash[:error] or flash[:notice] %>
<div id="flash_message" class="bulk_bar">
  <span <% if flash[:error] %>class="warning"<% elsif flash[:notice] %>class='notice'<% end %>> 
    <%= flash[:error] || flash[:notice] %>  
  </span>
</div>  
<script type="text/javascript">  
  setTimeout(function() {$("#flash_message").hide()}, 2000);  
</script>
<% end %>