<% title 'Customers' %>

<%= render :partial => "/shared/notice" %>
<div class="customers">
  <h1>Customers List</h1>

  
  
</div>





<% content_for(:right) do-%>
  <%= render :partial => 'right_side' %>
<% end %>